{% extends "base.html" %}
{% block content %}
<main>
    <div class="about-container">
        <h2>About BookSense</h2>
        <p>Welcome to BookSense, your go-to platform for book recommendations!</p>
        <p>At BookSense, we understand the joy of finding that perfect book. Our AI system tailors suggestions based on your input and current context.</p>
        <p>Whether you’re into fiction, non-fiction, thrillers, or romance, BookSense offers recommendations designed to match your interests.</p>
        <p>Join us and let BookSense guide you to your next great read!</p>
    </div>
</main>
{% endblock %}
