<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="book-details-container">
        <aside class="book-grid-right">
            <img src="{{ book['coverImg'] }}" alt="Book Image">
        </aside>
        <div class="book-details">
            <div class="book-title">{{ book['title'] }}</div>
            <div class="book-meta">
                <div class="book-author">{{ book['author'] }}</div>
                <div class="book-rating">Rating: {{ book['rating'] }} ★ </div>
            </div>
            <div class="book-description">{{ book['description'] }}</div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
