{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="book-details-container">
        <aside class="book-grid-right">
            <img src="{% if book['coverImg'] == '' %}{{ url_for('static', filename='img/cover_coming_soon.png') }}{% else %}{{ book['coverImg'] }}{% endif %}" alt="Book Image">
        </aside>
        <div class="book-details">
            <div class="book-title-container">
                <div class="book-title">{{ book['title'] }}</div>
                <a href="https://www.goodreads.com/book/show/{{ book.bookId }}" class="check-goodreads" target="_blank" rel="noopener noreferrer">Check on Goodreads</a>
            </div>
            <div class="book-meta">
                <div class="book-author">
                    {% set clean_author = book['author'].split(' (Goodreads Author)')[0] %}
                    {{ clean_author }}
                </div>
                <div class="book-genres">
                    <strong>Genres:</strong> 
                    {{ book['genres']|replace("'", "")|replace("[", "")|replace("]", "") }}
                </div>
            </div>
            <div class="book-description">
                {% if book['description'] is none or (book['description'] is float and book['description'] != book['description']) %}
                <p>It seems we don't have a description for this book right now.</p>
                <p>However, you can find more information and reviews on<a href="https://www.goodreads.com/book/show/{{ book['bookId'] }}" target="_blank"> Goodreads</a>.</p>
                {% else %}
                    {{ book['description'] }}
                {% endif %}
            </div>
            <div class="book-actions">
                {% if in_wishlist %}
                <form action="{{ url_for('remove_from_wishlist', book_id=book.bookId, redirect_page='book_details') }}" method="post" class="wishlist-form">
                    <button type="submit" class="add-to-wishlist" style="background-color: red;">Remove from Wishlist</button>
                </form>
                {% else %}
                <form action="{{ url_for('add_to_wishlist', book_id=book.bookId) }}" method="POST" class="wishlist-form">
                    <input type="hidden" name="title" value="{{ book.title }}">
                    <input type="hidden" name="coverImg" value="{{ book.coverImg }}">
                    <button type="submit" class="add-to-wishlist">Add to Wishlist</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        // Automatically fade out flash messages after 3 seconds
        setTimeout(function() {
            const flashes = document.querySelectorAll('.alert');  // Target Bootstrap alerts
            flashes.forEach(function(flash) {
                flash.style.transition = 'opacity 0.3s ease';  // Apply smooth transition
                flash.style.opacity = '0';  // Fade out
    
                setTimeout(() => {
                    flash.remove();  // Completely remove after fading out
                }, 300);  // Wait for the transition to complete before removing
            });
        }, 3000);  // Message stays for 3 seconds
    </script>

</body>
</html>
{% endblock %}
