<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookSense - Books That Know You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1>BookSense</h1>
            </div>
            <div class="auth">
                <a href="/about">About Us</a> | <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
            </div>
        </div>
    </header>
    <main>
        <div class="centered-container">
            <h2>What's on your mind?</h2>
            <form id="searchForm" action="{{ url_for('search') }}" method="POST">
                <textarea id="userInput" name="user_input" placeholder="Share your thoughts..."></textarea>
                <button type="submit" style="display: none;">Lets Explore</button>
            </form>
            <div id="loadingScreen" style="display: none;">
                Finding for you...
            </div>
        </div>
    </main>

    <script>
        const textarea = document.querySelector('textarea');
        const button = document.querySelector('button');
        const form = document.getElementById('searchForm');
        const loadingScreen = document.getElementById('loadingScreen');

        textarea.addEventListener('input', () => {
            if (textarea.value.trim() !== '') {
                button.style.display = 'block';
            } else {
                button.style.display = 'none';
            }
        });

        form.addEventListener('submit', () => {
            loadingScreen.style.display = 'block';
        });
    </script>


</body>
</html>

