<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookSense - Books That Know You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1>BookSense</h1>
            </div>
            <div class="auth">
                <a href="/about">About Us</a> <a href="/login">Login</a> <a href="/signup">Sign Up</a>
            </div>
        </div>
    </header>
    <main>
        <div class="centered-container">
            <h2>What's on your mind?</h2>
            <form id="searchForm" action="{{ url_for('extract') }}" method="post">
                <textarea id="userInput" name="user_input" placeholder="Share your thoughts..."></textarea>
                <button type="submit" id="submitButton" style="display: none;">Let's Explore</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 BookSense by <a href="https://www.linkedin.com/in/ellenzhang826/" target="_blank">EZ</a></p>
        </div>
    </footer>
    <script>
        const textarea = document.querySelector('#userInput');
        const button = document.querySelector('#submitButton');
        const form = document.getElementById('searchForm');

        textarea.addEventListener('input', () => {
            if (textarea.value.trim() !== '') {
                button.style.display = 'block';
            } else {
                button.style.display = 'none';
            }
        });

        form.addEventListener('submit', (event) => {
            event.preventDefault(); // Prevent default form submission
            const formData = new FormData(form);

            // Provide instant feedback
            window.location.href = '{{ url_for("loading") }}';

            // Submit form data
            fetch('{{ url_for("extract") }}', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (!response.ok) {
                    console.error('Failed to submit form');
                }
            });
        });
    </script>
</body>
</html>
