<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="signup-container">
        <div class="signup-form">
            <div class="signup-header">
                <a href="/" class="booksense-title">
                    <h1>BookSense</h1>
                </a>
                <a href="/signup" class="signup-login-link" style="text-decoration: underline;">Create an Account</a>
            </div>
            <p class="signup-text">Log in to explore more</p>
            <form action="{{ url_for('login') }}" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <a href="/forgot-password" class="forgot-password-link" style="text-decoration: underline;">Forgot your password?</a>
                <button type="submit">Login</button>
            </form>
        </div>
        <aside class="book-grid">
            {% for book_image, book_id in book_images %}
                <a href="{{ url_for('book_details', book_id=book_id) }}">
                    <img src="{% if book_image == '' %}{{ url_for('static', filename='img/cover_coming_soon.png') }}{% else %}{{ book_image }}{% endif %}" alt="Book Image">
                </a>
            {% endfor %}
        </aside>
    </div>
</body>
</html>
